# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/
.gradle
/.idea/
.DS_Store
*.iml
*.ipr
*.iws
# gradle output dir
build/
# if anyone uses eclipse/vscode, ignore their project files and bin directories
.project
bin/
.specmatic/
/order-bff/kafka-logs/
