services:
  studio:
    image: specmatic/enterprise:latest
    container_name: studio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9090:9090"
    command: ["studio"]
    volumes:
      - .:/usr/src/app
      - ../license.txt:/specmatic/specmatic-license.txt:ro
    environment:
      STUDIO_MAX_TEST_COUNT: 1000
      SPECMATIC_LICENSE_PATH: /specmatic/specmatic-license.txt
      KAFKA_PROPERTIES: |
        advertised.listeners=PLAINTEXT://studio:9092
        listeners=PLAINTEXT://0.0.0.0:9092
        listener.security.protocol.map=PLAINTEXT:PLAINTEXT
        inter.broker.listener.name=PLAINTEXT

  order-bff:
    image: specmatic/specmatic-order-bff-java:latest
    container_name: order-bff
    ports:
      - "8080:8080"
    environment:
      ORDER_API_URL: http://studio:8090
      KAFKA_BOOTSTRAP_SERVERS: "studio:9092"
      CORS_ORIGINS: http://localhost:3000
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8080/health >/dev/null"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 1s
